@font-face {
  font-family: "MADE";
  src: url(MADE-Dillan-latin-sm.woff2);
}
:root {
  --color-teal: #00ad9f;
  --color-teal-dark: #15847d;
  --color-teal-bright: #00e0ce;
  --color-pink: #ff6969;
  --color-pink-dark: #ff1154;
  --color-pink-accessible: #e8114e;
  --color-orange: #f86816;
  --color-orange-dark: #b74808;
  --color-blue: #43b4d8;
  --color-blue-dark: #146396;
  --color-blue-dark-b: #133857;
  --color-violet: #c57aa2;
  --color-violet-dark: #7c0c64;
  --color-yellow: #ffad43;
  --color-yellow-dark: #cc801f;
  --color-white: #fff;
  --color-black: #0e1e25;
  --color-gray-1: #2d3b41;
  --color-gray-2: #646e73;
  --color-gray-3: #757575;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #f7f8f8;
  --font-display: "MADE", sans-serif;
  --font-sans-serif: Roboto, sans-serif;
  --font-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --border-radius: 6px;
  --color-focus-ring: var(--color-teal);
  --grid-gutter: 1.2rem;
  --card-width-sm: 26.5rem;
  --card-width-m: 72vw;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--color-gray-2);
}

/* Colors */
.pink {
  color: var(--color-pink-dark);
}
.teal {
  color: var(--color-teal-dark);
}
.blue {
  color: var(--color-blue-dark);
}
.blue-bg {
  background-color: var(--color-blue-dark);
}
.teal-bg {
  background-color: var(--color-teal-dark);
}

/* Typography */
.title-m {
  font-size: clamp(3em, 6vw, 4.25em);
}
.title-lg {
  font-size: clamp(2.9em, 5vw, 6em);
}
.text-l {
  font-size: 1.375em;
}
.font-serif {
  font-family: var(--font-display);
}
.tracked-xs {
  letter-spacing: 0.02em;
}
.lh-s {
  line-height: 1.36;
}

/* spacing */
.pa-xs {
  padding: 0.5em 1.5em;
}
.pa-s {
  padding: 1.5em;
}
.min-w-m {
  min-width: var(--card-width-sm);
}
.max-w-m {
  max-width: var(--card-width-m);
}
.br10 {
  border-radius: 10px;
}
.bn {
  border: none;
}
.box-shadow-1 {
  box-shadow: 0 2px 4px rgba(14, 30, 37, 0.12);
}
.dotted-bg {
  background: url("https://www.netlify.com/v3/img/components/dots-teal.svg");
}

/* layout */
.grid-carousel {
  display: grid;
  grid-gap: var(--grid-gutter);
  grid-auto-flow: column;
  grid-auto-columns: minmax(var(--card-width-sm), 1fr);
  overflow-x: auto;
}
.flex-c {
  display: flex;
  align-items: center;
}

/* hiding scrollbar */
.scroll-hide {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll-hide::-webkit-scrollbar {
  width: 0;
  display: none;
}
